@import "../../../../styles/constans.scss";
.level {
  width: 100%;
  height: 97px;
  display: flex;
  justify-content: start;
  align-items: center;
  border: 2px solid $brown_color;
  > button {
    margin-left: 20px;
  }
}
